@mixin container-spacing($props, $factor: 1) {
  @each $prop in $props {
    #{$prop}: $factor * 6.25%;
  }
}

@mixin wrapper {
  @include outer-container;
  @include container-spacing(padding-left padding-right, 1);
}

@mixin grid-wrapper($direction: $default-layout-direction) {
  @include wrapper;
  @include row(block, $direction);
}

@mixin grid-half {
  @include span-columns($grid-columns/2);
}

@mixin grid-third {
  @include span-columns($grid-columns/3);
}

.wrapper    { @include wrapper; }

.g-row      { @include row; }
.g-wrapper  { @include grid-wrapper; }

.g-total    { @include fill-parent; }
.g-half     { @include grid-half;   }
.g-third    { @include grid-third;  }