---
layout: default
---

<section class="blog-posts">
  <h2 class="box-title--lined">Most Recent Posts</h2>
  {% for post in site.posts limit:10 %}
    <article class="blog-post entry">
      <header class="blog-post-header">
        {% if post.category %}<p class="blog-post-topic">{{ post.category }}</p>{% endif %}
        <h1 class="blog-post-title entry-title"><a href="{{post.url}}">{{ post.title }}</a></h1>
        <p class="blog-post-byline byline vcard">By <a href="https://twitter.com/{{ post.author.twitter }}" class="blog-post-author fn url author" rel="author">{{ post.author.name }}</a> on <time datetime="{{ post.date | date: "%Y-%m-%d"}}" class="blog-post-date">{{ post.date | date: "%B %d, %Y" }}</time></p>
      </header>

      <div class="blog-post-body entry-content">
        {{ post.content }}
      </div>
    </article>
  {% endfor %}
</section>

{% assign post_count = site.posts | size %}
{% if post_count > 1 %}
<a href="archive" class="blog-main-cta">Browse the archives</a>
{% endif %}