.blog > div {
  @include grid-wrapper;
  @include container-spacing(padding-top,     0.5);
  @include container-spacing(padding-bottom,  1);
}

.blog-main { 
  @include media-from($bp-l) {
    @include span-columns(8);
  }
}

.blog-sidebar {
  @include media-from($bp-l) {
    @include span-columns(4);
  }
  @include media-from($bp-xl) {
    @include span-columns(3);
    @include shift(1);
  }
}

.blog-featured-posts {
  @include container-spacing(margin-bottom, 2);
}

.blog-main-aside.has-two {
  @include row;
  > * {
    @include span-columns(4 of 8);
  }
}

.blog a {
  &:link, &:visited { color: $color-link-blue-nicer; }
  @include colored-link;
}

.blog-sidebar { 
  color: gray(40%);
  font-family: $type-sans;
  > .box {
    @include rem(font-size, 16px);
    margin-bottom: 2.5em;
  }

  .box-title--lined {
    margin-bottom: 1.2em;
  }

  iframe.twitter-follow-button {
    margin-top: 1em;
  }
}


.blog mark {
  background: #FFFF00;
  color: black;
}



.blog-posts .box-title { margin-bottom: 0; }





.blog-index {
  @include rem(font-size, 18px);
  @include container-spacing(padding-bottom);
}

.blog-index-heading {
  @include smallcaps-heading-thin;
  margin-top:     1.5em;
  margin-bottom:  1.5em;
  * + & { margin-top: 3em; }
}

.blog-index-list > li {
  margin-bottom: 1.5em;
}

.blog-index-title {
  font-family: $type-sans;
  font-weight: weight(medium);
  display: inline-block;
  line-height: 1.3;
}

.blog-index-synopsis {
  line-height: 1.4;
  color: gray(40%);
}

.blog-index-date {
  @include rem(font-size, 13px);
  @include smallcaps-heading-thin;
  float: right;
  margin-left: 2em;
}


.blog-main-cta {
  border: divider();
  border-width: 2px;

  display: block;
  text-align: center;
  
  @include rem(padding, 20px);
  
  border-radius: 6px;
  margin-right: 1em;
  &:last-child { margin-right: 0; }

  @include rem(font-size, 17px);
  font-family: $type-sans;
  font-weight: weight(bold);
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}

.blog-sidebar-subtitle {
  @include smallcaps-heading-thin;
}

.blog-sidebar-text {
  font-family: $type-serif;
  line-height: 1.4;
  
  @include rem(font-size, 17px);

  p + p {
    margin-top: 1em;
  }
}

.blog-sidebar-form {
  input {
    font-family: $type-sans;
    @include rem(font-size, 16px);
  }

  input[type='email'] {
    @include appearance(none);
    display: inline-block;
    width: 100%;
    
    border: 1px solid darken($color-divider, 5%);
    padding: 0.6em;
    margin-top: 1.2em;
    margin-bottom: 0.6em;

    @include hover {
      outline: none;
      border-color: black;
    }
  }

  input[type='submit'] {
    @include appearance(none);
    display: inline-block;
    width: 100%;

    background: none;
    color: $color-link-blue-nicer;
    border: solid 1px $color-link-blue-nicer;
    border-radius: 0.3em;

    padding: 0.6em 1em;
    text-align: center;

    @include hover {
      border-color: black;
      color: black;
      outline: none;
    }
  }
}