.blog-post {
  @include container-spacing(padding-bottom);

  + .blog-post {
    border-top: divider();
    @include container-spacing(margin-top);
  }
}

.blog-post-header {
  padding-top:    1.25em;
  padding-bottom: 2.5em;
}

.blog-post-topic {
  font-family: $type-sans;
  @include rem(font-size, 15px);
  
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  
  margin-bottom: 0.7em;
  padding-top: 1.5em;

  &, a:link, a:visited  { color: gray(65%); }
  a                     { @include colored-link; }

  .blog-main > .blog-post & { padding-top: 0; }
}

.blog-post-title {
  font-family: $type-sans;
  font-weight: weight(bold);
  @include rem(font-size, 40px);
  line-height: 1.25;

  a:link, a:visited { color: black; }
  a:hover, a:focus  { border-bottom: solid 1px; }
}

.blog-post-byline {
  @include rem(font-size, 17px);
  font-family: $type-sans;
  
  line-height: 1.2;
  color: gray(60%);
  margin-top: 0.3rem;
}


.blog-post-author,
.blog-post-date {
  color: gray(30%);
}

.blog-post-picture {
  margin-bottom: 2em;
  img { max-width: 100%; }
  &.with-border         { border: divider(); }
  &.with-border-bottom  { border-bottom: divider(); }
}

.blog-post-body {
  
  .wf-active.tr-coretext & {
    -webkit-font-smoothing: antialiased;
  }

  line-height: 1.5;
  color: gray(20%);

  > *:not(figure) {
    @include rem(max-width, 32rem);
  }

  .ie8 & > * {
    max-width: 32*20;
  }
  
  > * + *,
  blockquote > * + * {
    margin-top: 1em;
  }

  > h2 {
    font-size: 1.25em;
    font-family: $type-sans;
    font-weight: weight(bold);
    color: black;
    margin-top: 2.5em;
    + * { margin-top: 0.5em; }
  }

  img {
    display: block;
    max-width: 100%;
  }

  blockquote {
    border-left: solid 1px gray(20%);
    padding-left: 1.5em;
    color: gray(40%);
  }

  sup {
    font-family: $type-sans;
    font-weight: weight(medium);
    font-size: 0.65em;
    vertical-align: super;
    padding-left: 0.1em;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  a {
    font-weight: weight(semibold);
  }

  .twitter-tweet-rendered {
    margin-top:     1em !important;
    margin-bottom:  1em !important;
  }

  .footnotes {
    @include container-spacing(margin-top);
    font-family: $type-sans;
    color: gray(70%);
    
    &:before {
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background-color: $color-divider;
      margin-bottom: 1em;
    }

    > ol {
      font-size: 0.75em;
      line-height: 1.4;
      > li + li { margin-top: 0.5em; }
    }
  }
}