.blog-post {
  + .blog-post {
    border-top: divider();
    @include container-spacing(margin-top);
  }
}

.blog-post-header {
  padding-top:    1.25em;
  padding-bottom: 2.5em;
}

.blog-post-topic {
  font-family: $type-sans;
  @include rem(font-size, 15px);

  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;

  margin-bottom: 0.7em;
  padding-top: 1.5em;

  &, a:link, a:visited  { color: gray(65%); }
  a                     { @include colored-link; }

  .blog-main > .blog-post & { padding-top: 0; }
}

.blog-post-title {
  font-family: $type-sans;
  font-weight: weight(bold);
  line-height: 1.4;
  a:link, a:visited { color: black; }
  a:hover, a:focus  { border-bottom: solid 1px; }

                                @include rem(font-size, 36px);
  @include media-upto($bp-l)  { @include rem(font-size, 33px); }
  @include media-upto($bp-m)  { @include rem(font-size, 30px); }
}

.blog-post-byline {
  @include rem(font-size, 17px);
  font-family: $type-sans;

  line-height: 1.2;
  color: gray(60%);
  margin-top: 0.3rem;
}


.blog-post-author,
.blog-post-date {
  color: gray(30%);
}

.blog-post-picture {
  margin-bottom: 2em;
  img { max-width: 100%; }
  &.with-border         { border: divider(); }
  &.with-border-bottom  { border-bottom: divider(); }
}

.blog-post-body {

  font-family: $type-serif;
  font-weight: weight(regular);

  h2, h3,
  figcaption,
  .footnotes, sup {
    font-family: $type-sans;
    a { font-weight: weight(medium); }
  }

  h2, h3 {
    font-weight: weight(bold);
  }

  .wf-active.tr-coretext & {
    -webkit-font-smoothing: antialiased;
    font-weight: weight(medium);

    figcaption, .footnotes {
      font-weight: weight(regular);
    }
  }

  line-height: 1.5;
  color: gray(20%);

  > hr {
    margin: 2em 0;
    padding: 0;
    display: block;
    border: none;
    text-align: center;
    &:before {
      content: "\2042";
    }
  }

  > * {
    @include rem(max-width, 32rem);
  }

  .ie8 & > * {
    max-width: 32*20;
  }

  > *,
  blockquote > * {
    margin-top: 1em;
    &:first-child {
      margin-top: 0;
    }
  }

  > h2 {
    font-size: 1.3em;
    color: black;
    margin-top: 2em;
    + * { margin-top: 0.5em; }
  }

  > h3 {
    margin-top: 1.5em;
    + * {
      margin-top: 0.5em;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  blockquote {
    border-left: solid 1px gray(20%);
    padding-left: 1.5em;
    color: gray(40%);
  }

  sup {
    font-size: 0.65em;
    vertical-align: super;
    padding-left: 0.2em;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  strong {
    font-weight: weight(bold);
  }

  em {
    font-style: italic;
  }

  a {
    font-weight: weight(semibold);
  }

  figure.border img {
    border: solid 1px $color-divider;
  }

  figcaption {
    color: gray(65%);
    font-size: 0.8em;
    line-height: 1.2;
    margin-top: 0.5em;
  }

  .twitter-tweet-rendered {
    margin-top:     1em !important;
    margin-bottom:  1em !important;
  }

  .footnotes {
    @include container-spacing(margin-top);
    color: gray(65%);

    &:before {
      content: "";
      display: block;
      width: 25%;
      height: 1px;
      background-color: $color-divider;
      margin-bottom: 1em;
    }

    > ol {
      font-size: 0.75em;
      line-height: 1.4;
      > li + li { margin-top: 0.5em; }
    }

    *:target {
      color: black;
    }
  }
}

.blog-post-footer {
  @include rem(max-width, 32rem);
  @include rem(padding, 1rem);
  @include container-spacing(margin-top);
  border-radius: 4px;

  @include rem(font-size, 19px);
  font-family: $type-sans;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  color: gray(30%);
  line-height: 1.4;

  &.kickstarter {
    border: solid 1px #29E079;
    background: #F9FEFB;
    a {
      font-weight: weight(medium);
      color: #29E079;
      &:hover, &:focus { color: black; }
    }
  }

  h4 {
    font-size: 1.1em;
    color: black;
    font-weight: weight(bold);
    margin-bottom: .25em;
  }
}