.site-header {
  background-color: gray(96%);
  border-bottom: divider();
  font-family: $type-sans;
}

.site-header > div {
  @include grid-wrapper;

  @include container-spacing(padding-top);
  @include container-spacing(padding-bottom);
  
  @include media-from($bp-l) {
    @include container-spacing(padding-top, 0.5);
    @include container-spacing(padding-bottom, 0.5);
  }
}

.site-header-name {
  @include media-from($bp-m) {
    @include span-columns(7);
  }

  @include media-from($bp-l) {
    @include span-columns(8);
  }
}

.site-header-buy{
  @include media-from($bp-m) { @include span-columns(5); }
  @include media-from($bp-l) { @include span-columns(4); }

  @include media-from($bp-xl) {
    @include span-columns(3);
    @include shift(1);
  }
}

.site-header-name {
  @include rem(font-size,   32px);
  @include rem(line-height, 50px);
  font-weight: weight(bold);
  
  a { color: gray(20%); }
  i { color: gray(60%); }
    
  a { 
    @include hover { 
      &, i { color: black; }
    }
  }

  @include media-upto($bp-m) {
    margin-bottom: 0.75em;
    text-align: center;
  }

}

.site-header-buy > a {
  @include rem(font-size, 15px);
  text-transform: uppercase;
  text-align: center;
  
  display: block;
  border: solid 2px $color-link-blue-nicer;
  border-radius: 5px;


  @include rem(height, 50px);
  @include rem(line-height, 50px - 4px);

  color: $color-link-blue-nicer;
  font-weight: weight(bold);
  letter-spacing: 0.15em;
  word-spacing: 0.15em;

  &:hover {
    color: black;
    border-color: gray(30%);
  }
}