@function divider() {
  @return solid 1px $color-divider;
}

@function sub-divider() {
  @return dashed 1px darken($color-divider, 2%);
}

@mixin colored-link {
  &:hover,
  &:focus,
  &:active { color: black; }
}

@mixin underlined-link {
  &:hover, 
  &:focus,
  &:active { border-bottom: solid 1px; }
}


@mixin smallcaps-heading-base {
  font-family: $type-sans;
  @include font-size-rem(15px);

  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing:   0.15em;
}

@mixin smallcaps-heading {
  @include smallcaps-heading-base;
  font-weight: weight(bold);
  color: gray(20%);
}

@mixin smallcaps-heading-thin {
  @include smallcaps-heading-base;
  color: gray(60%);
}

@mixin issue-number {
  @include sans-serif(bold);
  @include color-by-issue(background);
  
  font-size: 0.85em;
  padding-right:  0.32em;
  padding-left:   0.32em;
  padding-bottom: 0.06em;

  color: white;
  border-radius: 0.15em;
}

@mixin blacklink {
  color: black;
  &:hover {
    text-decoration: underline;
  }
}

@mixin blacklink-child {
  a {
    @include blacklink;
  }
}