.blog > div {
  @include grid-wrapper;
  @include container-spacing(padding-top,     0.5);
  @include container-spacing(padding-bottom,  1);
}

.blog-main {
  @include span-columns(8);
}

.blog-sidebar {
  @include shift(1);
  @include span-columns(3);
}

.blog-featured-posts {
  @include container-spacing(margin-bottom, 2);
}

.blog-main-aside.has-two {
  @include row;
  > * {
    @include span-columns(4 of 8);
  }
}

.blog a {
  &:link, &:visited { color: $color-link-blue-nicer; }
  // &:visited { color: #AA22AA; }
  @include colored-link;
}

.blog-sidebar { 
  color: gray(40%);
  font-family: $type-sans;
  > .box {
    @include font-size-rem(16px);
    margin-bottom: 2em;
  }
}


.blog mark {
  background: #FFFF00;
  color: black;
}



.blog-posts .box-title { margin-bottom: 0; }





.blog-index {
  @include font-size-rem(18px);
}

.blog-index-heading {
  @include smallcaps-heading-thin;
  margin-top:     1.5em;
  margin-bottom:  1.5em;
  * + & { margin-top: 3em; }
}

.blog-index-list > li {
  margin-bottom: 1.5em;
}

.blog-index-title {
  font-family: $type-sans;
  font-weight: weight(medium);
  display: inline-block;
  line-height: 1.3;
}

.blog-index-synopsis {
  line-height: 1.4;
  color: gray(40%);
}

.blog-index-date {
  @include font-size-rem(13px);
  @include smallcaps-heading-thin;
  float: right;
  margin-left: 2em;
}


.blog-search input {
  @include box-sizing(border-box);
  width: 100%;
  height: 3.25em;
  
  font-family: $type-sans;
  color: black;
  @include font-size-rem(16px);
  padding: 0px;
  text-indent: 0px;
  padding-left: 2.5em;

  border: divider();
  
  @include background-image-inline(img-loupe());
  background-repeat:    no-repeat;
  background-size:      1em 1em;
  background-position:  0.9em center;
  
  &:hover {
    border-color: darken($color-divider, 10%);
  }
  &:focus {
    outline: none;
    border-color: black;
  }

  @include appearance(none);

  @include placeholder {
    color: gray(70%);
    opacity: 1.0;
  }

  &::-webkit-search-decoration {
    display: none;
  }

  &::-webkit-search-cancel-button {
    @include prefixer(appearance, none, webkit);
    // height: 1em;
    // width:  1em;
    // background: red;
    // margin-right: 1.125em;
  }
}



.blog-main-cta {
  border: divider();
  border-width: 2px;

  display: block;
  text-align: center;
  max-width: 32*20px;
  
  padding: 1.5em;
  
  border-radius: 6px;
  margin-right: 1em;
  &:last-child { margin-right: 0; }

  font-family: $type-sans;
  font-weight: weight(bold);
  text-transform: uppercase;
  @include font-size-rem(17px);
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}

.blog-sidebar-text {
  line-height: 1.4;
  p + p {
    margin-top: 1em;
  }
}