.site-header {
  background-color: gray(96%);
  border-bottom: divider();
  font-family: $type-sans;
}

.site-header > div {
  @include grid-wrapper;
  @include container-spacing(padding-top, 0.5);
  @include container-spacing(padding-bottom, 0.5);
}

.site-header-name {
  @include span-columns(9);
}

.site-header-buy {
  @include span-columns(3);
}

.site-header-name {
  float: left;
  @include font-size-rem(32px);
  line-height: 50px;
  font-weight: weight(bold);
  a {
    // color: $color-link-blue-nicer;
    color: gray(10%);
    i { color: gray(60%); }
    &:hover, &:focus { color: $color-link-blue-nicer; }
  }
}


.site-header-buy > a {
  @include font-size-rem(15px);
  text-transform: uppercase;
  text-align: center;
  
  display: block;
  border: solid 1px $color-link-blue-nicer;
  border-radius: 5px;


  height:       50px;
  line-height:  (50px - 2);

  color: $color-link-blue-nicer;
  font-weight: weight(bold);
  letter-spacing: 0.15em;
  word-spacing: 0.15em;

  &:hover {
    color: black;
    border-color: gray(60%);
  }
}