$type-sans:               "franklin-gothic-urw", sans-serif;
$type-serif:              "freight-text-pro", serif;

$type-indent:             1.25em;
$type-breaks:             1.5em;
$type-line-height:        1.5;
$type-main-value:         20;
$type-main-size:          ($type-main-value * 1px);
$rem-base:                20;

@function weight($keyword) {
  @if      $keyword == thin                           { @return 100; }
  @else if $keyword == extralight                     { @return 200; }
  @else if $keyword == light                          { @return 300; }
  @else if $keyword == book or $keyword == regular    { @return 400; }
  @else if $keyword == medium                         { @return 500; }
  @else if $keyword == semibold                       { @return 600; }
  @else if $keyword == bold                           { @return 700; }
  @else if $keyword == extrabold                      { @return 800; }
  @else if $keyword == black                          { @return 900; }
  
  @return 400;
}

@function strip-units($val) {
  @return ($val / ($val * 0 + 1));
}

@function value($val) {
  @return ($val / ($val * 0 + 1));
}

@function rem($px-val, $base: $type-main-value) {
  @if not unitless($px-val)   { $px-val: strip-units($px-val); }
  @if not unitless($base)     { $base: strip-units($base); }
  @return #{$px-val/$base}rem;
}

@mixin font-size-rem($px-val, $base: $type-main-value) {
  @if not unitless($px-val)   { $px-val: strip-units($px-val); }
  font-size: #{$px-val}px;
  font-size: rem($px-val, $base);
}