/* line 2, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
