/* HTML5 Elements */
/* line 2, ../scss/meta/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

/* line 3, ../scss/meta/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Eric Meyer's Reset CSS */
/* line 19, ../scss/meta/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, ../scss/meta/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/meta/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../scss/meta/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../scss/meta/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/meta/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 Boilerplate */
/* line 49, ../scss/meta/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 55, ../scss/meta/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 56, ../scss/meta/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 58, ../scss/meta/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../scss/meta/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow displayed oddly in IE9  */
/* line 63, ../scss/meta/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 65, ../scss/meta/_reset.scss */
label {
  cursor: pointer;
}

/* line 68, ../scss/meta/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 69, ../scss/meta/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 70, ../scss/meta/_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 71, ../scss/meta/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 72, ../scss/meta/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 73, ../scss/meta/_reset.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 74, ../scss/meta/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 75, ../scss/meta/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../scss/_layout.scss */
.wrapper {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrapper:after {
  clear: both;
}

/* line 27, ../scss/_layout.scss */
.g-row {
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-row:before, .g-row:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-row:after {
  clear: both;
}

/* line 28, ../scss/_layout.scss */
.g-wrapper {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:before, .g-wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:before, .g-wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:after {
  clear: both;
}

/* line 30, ../scss/_layout.scss */
.g-total {
  width: 100%;
}

/* line 31, ../scss/_layout.scss */
.g-half {
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 48.41629%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.g-half:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_layout.scss */
.g-third {
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 31.22172%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.g-third:last-child {
  margin-right: 0;
}

/* line 1, ../scss/_base.scss */
html, body {
  background-color: white;
  font-family: "freight-text-pro", serif;
  font-size: 125%;
}

/* line 7, ../scss/_base.scss */
figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 13, ../scss/_base.scss */
a {
  text-decoration: none;
  color: #4d4d4d;
}
/* line 12, ../scss/_mixins.scss */
a:hover, a:focus, a:active {
  color: black;
}

/* line 19, ../scss/_base.scss */
.box-title, .box-title--lined {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  font-weight: 700;
  color: #333333;
  line-height: 1em;
  margin-bottom: 2.5em;
}

/* line 25, ../scss/_base.scss */
.box-subtitle {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  line-height: 1em;
  margin-bottom: 0.75em;
}
/* line 29, ../scss/_base.scss */
* + .box-subtitle {
  margin-top: 2em;
}

/* line 32, ../scss/_base.scss */
.box-title--lined {
  line-height: 1;
  margin-bottom: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-bottom: solid 1px #e6e6e6;
}

/* line 1, ../scss/modules/_header.scss */
.site-header {
  background-color: whitesmoke;
  border-bottom: solid 1px #e6e6e6;
  font-family: "franklin-gothic-urw", sans-serif;
}

/* line 7, ../scss/modules/_header.scss */
.site-header > div {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
  padding-top: 3.125%;
  padding-bottom: 3.125%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:before, .site-header > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:before, .site-header > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:after {
  clear: both;
}

/* line 13, ../scss/modules/_header.scss */
.site-header-name {
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 74.20814%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.site-header-name:last-child {
  margin-right: 0;
}

/* line 17, ../scss/modules/_header.scss */
.site-header-buy {
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 22.62443%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.site-header-buy:last-child {
  margin-right: 0;
}

/* line 21, ../scss/modules/_header.scss */
.site-header-name {
  float: left;
  font-size: 32px;
  font-size: 1.6rem;
  line-height: 50px;
  font-weight: 700;
}
/* line 26, ../scss/modules/_header.scss */
.site-header-name a {
  color: #1a1a1a;
}
/* line 29, ../scss/modules/_header.scss */
.site-header-name a i {
  color: #999999;
}
/* line 30, ../scss/modules/_header.scss */
.site-header-name a:hover, .site-header-name a:focus {
  color: #0055dd;
}

/* line 35, ../scss/modules/_header.scss */
.site-header-buy > a {
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: solid 1px #0055dd;
  border-radius: 5px;
  height: 50px;
  line-height: 48px;
  color: #0055dd;
  font-weight: 700;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}
/* line 53, ../scss/modules/_header.scss */
.site-header-buy > a:hover {
  color: black;
  border-color: #999999;
}

/* line 1, ../scss/modules/_blog.scss */
.blog > div {
  *zoom: 1;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
  padding-top: 3.125%;
  padding-bottom: 6.25%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:before, .blog > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:before, .blog > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:after {
  clear: both;
}

/* line 7, ../scss/modules/_blog.scss */
.blog-main {
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 65.61086%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.blog-main:last-child {
  margin-right: 0;
}

/* line 11, ../scss/modules/_blog.scss */
.blog-sidebar {
  margin-left: 8.59729%;
  float: left;
  display: block;
  margin-right: 3.16742%;
  width: 22.62443%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.blog-sidebar:last-child {
  margin-right: 0;
}

/* line 16, ../scss/modules/_blog.scss */
.blog-featured-posts {
  margin-bottom: 12.5%;
}

/* line 20, ../scss/modules/_blog.scss */
.blog-main-aside.has-two {
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog-main-aside.has-two:before, .blog-main-aside.has-two:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog-main-aside.has-two:after {
  clear: both;
}
/* line 22, ../scss/modules/_blog.scss */
.blog-main-aside.has-two > * {
  float: left;
  display: block;
  margin-right: 4.82759%;
  width: 47.58621%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.blog-main-aside.has-two > *:last-child {
  margin-right: 0;
}

/* line 28, ../scss/modules/_blog.scss */
.blog a:link, .blog a:visited {
  color: #0055dd;
}
/* line 12, ../scss/_mixins.scss */
.blog a:hover, .blog a:focus, .blog a:active {
  color: black;
}

/* line 33, ../scss/modules/_blog.scss */
.blog-sidebar {
  color: #666666;
  font-family: "franklin-gothic-urw", sans-serif;
}
/* line 36, ../scss/modules/_blog.scss */
.blog-sidebar > .box {
  font-size: 16px;
  font-size: 0.8rem;
  margin-bottom: 2em;
}

/* line 43, ../scss/modules/_blog.scss */
.blog mark {
  background: #FFFF00;
  color: black;
}

/* line 50, ../scss/modules/_blog.scss */
.blog-posts .box-title, .blog-posts .box-title--lined {
  margin-bottom: 0;
}

/* line 56, ../scss/modules/_blog.scss */
.blog-index {
  font-size: 18px;
  font-size: 0.9rem;
}

/* line 60, ../scss/modules/_blog.scss */
.blog-index-heading {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 64, ../scss/modules/_blog.scss */
* + .blog-index-heading {
  margin-top: 3em;
}

/* line 67, ../scss/modules/_blog.scss */
.blog-index-list > li {
  margin-bottom: 1.5em;
}

/* line 71, ../scss/modules/_blog.scss */
.blog-index-title {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 500;
  display: inline-block;
  line-height: 1.3;
}

/* line 78, ../scss/modules/_blog.scss */
.blog-index-synopsis {
  line-height: 1.4;
  color: #666666;
}

/* line 83, ../scss/modules/_blog.scss */
.blog-index-date {
  font-size: 13px;
  font-size: 0.65rem;
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  float: right;
  margin-left: 2em;
}

/* line 91, ../scss/modules/_blog.scss */
.blog-search input {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 3.25em;
  font-family: "franklin-gothic-urw", sans-serif;
  color: black;
  font-size: 16px;
  font-size: 0.8rem;
  padding: 0px;
  text-indent: 0px;
  padding-left: 2.5em;
  border: solid 1px #e6e6e6;
  background-image: url("data:image/svg+xml;utf8,<svg width='18px' height='18px' viewBox='0 0 18 18' version='1.1' xmlns='http://www.w3.org/2000/svg'><g  stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'><g transform='translate(0.000000, -1.000000)'><path d='M11.5355339,12.4644661 C14.2969578,12.4644661 16.5355339,10.22589 16.5355339,7.46446609 C16.5355339,4.70304221 14.2969578,2.46446609 11.5355339,2.46446609 C8.77411002,2.46446609 6.53553391,4.70304221 6.53553391,7.46446609 C6.53553391,10.22589 8.77411002,12.4644661 11.5355339,12.4644661 Z'  stroke='black' stroke-width='2' transform='translate(11.535534, 7.464466) rotate(-315.000000) translate(-11.535534, -7.464466) '></path><rect  fill='black' transform='translate(4.499824, 14.570891) rotate(-315.000000) translate(-4.499824, -14.570891) ' x='3.24982359' y='9.5708914' width='2.5' height='10'></rect></g></g></svg>");
  background-repeat: no-repeat;
  background-size: 1em 1em;
  background-position: 0.9em center;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
}
/* line 110, ../scss/modules/_blog.scss */
.blog-search input:hover {
  border-color: #cccccc;
}
/* line 113, ../scss/modules/_blog.scss */
.blog-search input:focus {
  outline: none;
  border-color: black;
}
/* line 8, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss */
.blog-search input::-webkit-input-placeholder {
  color: #b3b3b3;
  opacity: 1.0;
}
/* line 14, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss */
.blog-search input:-moz-placeholder {
  color: #b3b3b3;
  opacity: 1.0;
}
/* line 19, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss */
.blog-search input::-moz-placeholder {
  color: #b3b3b3;
  opacity: 1.0;
}
/* line 24, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/css3/_placeholder.scss */
.blog-search input:-ms-input-placeholder {
  color: #b3b3b3;
  opacity: 1.0;
}
/* line 125, ../scss/modules/_blog.scss */
.blog-search input::-webkit-search-decoration {
  display: none;
}
/* line 129, ../scss/modules/_blog.scss */
.blog-search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 140, ../scss/modules/_blog.scss */
.blog-main-cta {
  border: solid 1px #e6e6e6;
  border-width: 2px;
  display: block;
  text-align: center;
  max-width: 640px;
  padding: 1.5em;
  border-radius: 6px;
  margin-right: 1em;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 17px;
  font-size: 0.85rem;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}
/* line 152, ../scss/modules/_blog.scss */
.blog-main-cta:last-child {
  margin-right: 0;
}

/* line 162, ../scss/modules/_blog.scss */
.blog-sidebar-text {
  line-height: 1.4;
}
/* line 164, ../scss/modules/_blog.scss */
.blog-sidebar-text p + p {
  margin-top: 1em;
}

/* line 1, ../scss/modules/_blog-post.scss */
.blog-post {
  font-size: 20px;
  font-size: 1rem;
  padding-bottom: 15.625%;
}
/* line 5, ../scss/modules/_blog-post.scss */
.blog-post + .blog-post {
  border-top: solid 1px #e6e6e6;
  margin-top: 2em;
  padding-top: 1em;
}

/* line 12, ../scss/modules/_blog-post.scss */
.blog-post > * {
  max-width: 32em;
}

/* line 16, ../scss/modules/_blog-post.scss */
.blog-post-header {
  padding-top: 1em;
  padding-bottom: 3em;
}

/* line 22, ../scss/modules/_blog-post.scss */
.page-blog-post .blog-post-header {
  padding-top: 0;
}

/* line 26, ../scss/modules/_blog-post.scss */
.blog-posts .box-title, .blog-posts .box-title--lined {
  margin-bottom: 0;
}

/* line 29, ../scss/modules/_blog-post.scss */
.blog-post-topic {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  margin-bottom: 0.7em;
  padding-top: 1.5em;
}
/* line 40, ../scss/modules/_blog-post.scss */
.blog-post-topic, .blog-post-topic a:link, .blog-post-topic a:visited {
  color: #a6a6a6;
}
/* line 12, ../scss/_mixins.scss */
.blog-post-topic a:hover, .blog-post-topic a:focus, .blog-post-topic a:active {
  color: black;
}

/* line 44, ../scss/modules/_blog-post.scss */
.blog-post-title {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  font-size: 2rem;
  line-height: 1.25;
}
/* line 49, ../scss/modules/_blog-post.scss */
.blog-post-title a:link, .blog-post-title a:visited {
  color: black;
}
/* line 50, ../scss/modules/_blog-post.scss */
.blog-post-title a:hover, .blog-post-title a:focus {
  border-bottom: solid 1px;
}

/* line 53, ../scss/modules/_blog-post.scss */
.blog-post-byline {
  font-size: 18px;
  font-size: 0.9rem;
  font-family: "franklin-gothic-urw", sans-serif;
  line-height: 1.2;
  color: #999999;
  margin-top: 0.25em;
}

/* line 64, ../scss/modules/_blog-post.scss */
.blog-post-author,
.blog-post-date {
  color: #4d4d4d;
}

/* line 69, ../scss/modules/_blog-post.scss */
.blog-post-picture {
  margin-bottom: 2em;
}
/* line 71, ../scss/modules/_blog-post.scss */
.blog-post-picture img {
  max-width: 100%;
}
/* line 72, ../scss/modules/_blog-post.scss */
.blog-post-picture.with-border {
  border: solid 1px #e6e6e6;
}
/* line 73, ../scss/modules/_blog-post.scss */
.blog-post-picture.with-border-bottom {
  border-bottom: solid 1px #e6e6e6;
}

/* line 76, ../scss/modules/_blog-post.scss */
.blog-post-body {
  line-height: 1.5;
  color: #333333;
}
/* line 81, ../scss/modules/_blog-post.scss */
.blog-post-body > * + *,
.blog-post-body blockquote > * + * {
  margin-top: 1em;
}
/* line 85, ../scss/modules/_blog-post.scss */
.blog-post-body > h2 {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 2.5em;
}
/* line 90, ../scss/modules/_blog-post.scss */
.blog-post-body > h2 + * {
  margin-top: 0.5em;
}
/* line 93, ../scss/modules/_blog-post.scss */
.blog-post-body blockquote {
  border-left: solid 1px #333333;
  padding-left: 1.5em;
  color: #666666;
}
/* line 99, ../scss/modules/_blog-post.scss */
.blog-post-body sup {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 0.65em;
  vertical-align: super;
  padding-left: 0.1em;
}
/* line 106, ../scss/modules/_blog-post.scss */
.blog-post-body ul, .blog-post-body ol {
  padding-left: 1.5em;
}
/* line 110, ../scss/modules/_blog-post.scss */
.blog-post-body ul {
  list-style-type: disc;
}
/* line 114, ../scss/modules/_blog-post.scss */
.blog-post-body ol {
  list-style-type: decimal;
}
/* line 118, ../scss/modules/_blog-post.scss */
.blog-post-body a {
  font-weight: 600;
}
/* line 122, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 3em;
  color: #b3b3b3;
}
/* line 127, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes:before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 1em;
}
/* line 136, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes > ol {
  font-size: 0.75em;
  line-height: 1.4;
}
/* line 139, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes > ol > li + li {
  margin-top: 0.5em;
}

/* line 1, ../scss/modules/_keyword-list.scss */
.keyword-list {
  font-size: 16px;
  line-height: 1.2;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* line 7, ../scss/modules/_keyword-list.scss */
.keyword-list > li {
  *zoom: 1;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.keyword-list > li:before, .keyword-list > li:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.keyword-list > li:after {
  clear: both;
}
/* line 9, ../scss/modules/_keyword-list.scss */
.keyword-list > li + li {
  margin-top: 0.7em;
}

/* line 12, ../scss/modules/_keyword-list.scss */
.keyword-item-label {
  float: left;
}
/* line 14, ../scss/modules/_keyword-list.scss */
.is-current .keyword-item-label {
  font-weight: 700;
}

/* line 17, ../scss/modules/_keyword-list.scss */
.keyword-item-value {
  float: right;
  color: #666666;
}
/* line 20, ../scss/modules/_keyword-list.scss */
.keyword-item-value > strong {
  font-weight: 500;
}

/* line 23, ../scss/modules/_keyword-list.scss */
.keyword-item-value-unit {
  font-size: 12px;
  text-transform: uppercase;
  color: #b3b3b3;
}
