/* HTML5 Elements */
/* line 2, ../scss/meta/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, main {
  display: block;
}

/* line 3, ../scss/meta/_reset.scss */
audio[controls], canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Eric Meyer's Reset CSS */
/* line 19, ../scss/meta/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 28, ../scss/meta/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../scss/meta/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../scss/meta/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../scss/meta/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../scss/meta/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 Boilerplate */
/* line 49, ../scss/meta/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 55, ../scss/meta/_reset.scss */
a:focus {
  outline: thin dotted;
}

/* line 56, ../scss/meta/_reset.scss */
a:hover, a:active {
  outline: 0;
}

/* line 58, ../scss/meta/_reset.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 60, ../scss/meta/_reset.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* Correct overflow displayed oddly in IE9  */
/* line 63, ../scss/meta/_reset.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 65, ../scss/meta/_reset.scss */
label {
  cursor: pointer;
}

/* line 68, ../scss/meta/_reset.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
}

/* line 69, ../scss/meta/_reset.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 70, ../scss/meta/_reset.scss */
button, input {
  line-height: normal;
  *overflow: visible;
}

/* line 71, ../scss/meta/_reset.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 72, ../scss/meta/_reset.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}

/* line 73, ../scss/meta/_reset.scss */
input[type="search"] {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 74, ../scss/meta/_reset.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 75, ../scss/meta/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 2, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../scss/_layout.scss */
.wrapper {
  *zoom: 1;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrapper:before, .wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.wrapper:after {
  clear: both;
}

/* line 27, ../scss/_layout.scss */
.g-row {
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-row:before, .g-row:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-row:after {
  clear: both;
}

/* line 28, ../scss/_layout.scss */
.g-wrapper {
  *zoom: 1;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:before, .g-wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:before, .g-wrapper:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.g-wrapper:after {
  clear: both;
}

/* line 30, ../scss/_layout.scss */
.g-total {
  width: 100%;
}

/* line 31, ../scss/_layout.scss */
.g-half {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 48.27586%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.g-half:last-child {
  margin-right: 0;
}

/* line 32, ../scss/_layout.scss */
.g-third {
  float: left;
  display: block;
  margin-right: 3.44828%;
  width: 31.03448%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.g-third:last-child {
  margin-right: 0;
}

/* line 1, ../scss/_base.scss */
html, body {
  background-color: white;
  font-family: "freight-text-pro", serif;
  font-size: 20px;
}
@media screen and (max-width: 500px) {
  /* line 1, ../scss/_base.scss */
  html, body {
    font-size: 17px;
  }
}

/* line 11, ../scss/_base.scss */
figure img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

/* line 17, ../scss/_base.scss */
a {
  text-decoration: none;
  color: #4d4d4d;
}
/* line 12, ../scss/_mixins.scss */
a:hover, a:focus, a:active {
  color: black;
}

/* line 23, ../scss/_base.scss */
.box-title, .box-title--lined {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  font-weight: 700;
  color: #333333;
  line-height: 1em;
  margin-bottom: 2.5em;
}

/* line 29, ../scss/_base.scss */
.box-subtitle {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  line-height: 1em;
  margin-bottom: 0.75em;
}
/* line 33, ../scss/_base.scss */
* + .box-subtitle {
  margin-top: 2em;
}

/* line 36, ../scss/_base.scss */
.box-title--lined {
  line-height: 1;
  margin-bottom: 1.5em;
  padding-top: 1.2em;
  padding-bottom: 1.2em;
  border-bottom: solid 1px #e6e6e6;
}

/* line 1, ../scss/modules/_header.scss */
.site-header {
  background-color: whitesmoke;
  border-bottom: solid 1px #e6e6e6;
  font-family: "franklin-gothic-urw", sans-serif;
}

/* line 7, ../scss/modules/_header.scss */
.site-header > div {
  *zoom: 1;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
  padding-top: 6.25%;
  padding-bottom: 6.25%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:before, .site-header > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:before, .site-header > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.site-header > div:after {
  clear: both;
}
@media screen and (min-width: 501px) {
  /* line 7, ../scss/modules/_header.scss */
  .site-header > div {
    padding-top: 3.125%;
    padding-bottom: 3.125%;
  }
}

/* line 19, ../scss/modules/_header.scss */
.site-header-name {
  font-size: 32px;
  font-size: 1.6rem;
  line-height: 50px;
  line-height: 2.5rem;
  font-weight: 700;
}
/* line 24, ../scss/modules/_header.scss */
.site-header-name a {
  color: #333333;
}
/* line 25, ../scss/modules/_header.scss */
.site-header-name i {
  color: #999999;
}
/* line 4, /Users/paulo/Development/themanual-blog/bower_components/garnish/src/helpers/_hover.scss */
.site-header-name a:hover, .site-header-name a:focus {
  border-bottom: solid 1px;
}
/* line 30, ../scss/modules/_header.scss */
.site-header-name a:hover, .site-header-name a:hover i, .site-header-name a:focus, .site-header-name a:focus i {
  color: black;
}
@media screen and (max-width: 500px) {
  /* line 19, ../scss/modules/_header.scss */
  .site-header-name {
    margin-bottom: 0.75em;
    text-align: center;
  }
}

/* line 41, ../scss/modules/_header.scss */
.site-header-buy > a {
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-align: center;
  display: block;
  border: solid 2px #0055dd;
  border-radius: 5px;
  height: 50px;
  height: 2.5rem;
  line-height: 46px;
  line-height: 2.3rem;
  color: #0055dd;
  font-weight: 700;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}
/* line 59, ../scss/modules/_header.scss */
.site-header-buy > a:hover {
  color: black;
  border-color: #4d4d4d;
}

/* line 1, ../scss/modules/_blog.scss */
.blog > div {
  *zoom: 1;
  max-width: 1250px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 6.25%;
  padding-right: 6.25%;
  *zoom: 1;
  display: block;
  padding-top: 3.125%;
  padding-bottom: 6.25%;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:before, .blog > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:after {
  clear: both;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:before, .blog > div:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog > div:after {
  clear: both;
}

@media screen and (min-width: 501px) {
  /* line 8, ../scss/modules/_blog.scss */
  .site-header-name,
  .blog-main {
    float: left;
    display: block;
    margin-right: 3.44828%;
    width: 65.51724%;
  }
  /* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .site-header-name:last-child,
  .blog-main:last-child {
    margin-right: 0;
  }
}

@media screen and (min-width: 501px) and (max-width: 1000px) {
  /* line 15, ../scss/modules/_blog.scss */
  .site-header-buy,
  .blog-sidebar {
    float: left;
    display: block;
    margin-right: 3.44828%;
    width: 31.03448%;
  }
  /* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .site-header-buy:last-child,
  .blog-sidebar:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1001px) {
  /* line 15, ../scss/modules/_blog.scss */
  .site-header-buy,
  .blog-sidebar {
    float: left;
    display: block;
    margin-right: 3.44828%;
    width: 22.41379%;
    margin-left: 8.62069%;
  }
  /* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
  .site-header-buy:last-child,
  .blog-sidebar:last-child {
    margin-right: 0;
  }
}

/* line 27, ../scss/modules/_blog.scss */
.blog-featured-posts {
  margin-bottom: 12.5%;
}

/* line 31, ../scss/modules/_blog.scss */
.blog-main-aside.has-two {
  *zoom: 1;
  display: block;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog-main-aside.has-two:before, .blog-main-aside.has-two:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.blog-main-aside.has-two:after {
  clear: both;
}
/* line 33, ../scss/modules/_blog.scss */
.blog-main-aside.has-two > * {
  float: left;
  display: block;
  margin-right: 5.26316%;
  width: 47.36842%;
}
/* line 40, /Users/paulo/Development/themanual-blog/bower_components/neat/app/assets/stylesheets/grid/_span-columns.scss */
.blog-main-aside.has-two > *:last-child {
  margin-right: 0;
}

/* line 39, ../scss/modules/_blog.scss */
.blog a:link, .blog a:visited {
  color: #0055dd;
}
/* line 12, ../scss/_mixins.scss */
.blog a:hover, .blog a:focus, .blog a:active {
  color: black;
}

/* line 44, ../scss/modules/_blog.scss */
.blog-sidebar {
  color: #666666;
  font-family: "franklin-gothic-urw", sans-serif;
}
/* line 47, ../scss/modules/_blog.scss */
.blog-sidebar > .box {
  font-size: 16px;
  font-size: 0.8rem;
  margin-bottom: 3em;
}

/* line 54, ../scss/modules/_blog.scss */
.blog mark {
  background: #FFFF00;
  color: black;
}

/* line 61, ../scss/modules/_blog.scss */
.blog-posts .box-title, .blog-posts .box-title--lined {
  margin-bottom: 0;
}

/* line 67, ../scss/modules/_blog.scss */
.blog-index {
  font-size: 18px;
  font-size: 0.9rem;
}

/* line 71, ../scss/modules/_blog.scss */
.blog-index-heading {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
/* line 75, ../scss/modules/_blog.scss */
* + .blog-index-heading {
  margin-top: 3em;
}

/* line 78, ../scss/modules/_blog.scss */
.blog-index-list > li {
  margin-bottom: 1.5em;
}

/* line 82, ../scss/modules/_blog.scss */
.blog-index-title {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 500;
  display: inline-block;
  line-height: 1.3;
}

/* line 89, ../scss/modules/_blog.scss */
.blog-index-synopsis {
  line-height: 1.4;
  color: #666666;
}

/* line 94, ../scss/modules/_blog.scss */
.blog-index-date {
  font-size: 13px;
  font-size: 0.65rem;
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  color: #999999;
  float: right;
  margin-left: 2em;
}

/* line 102, ../scss/modules/_blog.scss */
.blog-main-cta {
  border: solid 1px #e6e6e6;
  border-width: 2px;
  display: block;
  text-align: center;
  padding: 25px;
  padding: 1.25rem;
  border-radius: 6px;
  margin-right: 1em;
  font-size: 17px;
  font-size: 0.85rem;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-spacing: 0.15em;
}
/* line 113, ../scss/modules/_blog.scss */
.blog-main-cta:last-child {
  margin-right: 0;
}

/* line 123, ../scss/modules/_blog.scss */
.blog-sidebar-twitter {
  margin-top: 4.5em;
}

/* line 127, ../scss/modules/_blog.scss */
.blog-sidebar-text {
  font-family: "freight-text-pro", serif;
  line-height: 1.4;
  font-size: 17px;
  font-size: 0.85rem;
}
/* line 133, ../scss/modules/_blog.scss */
.blog-sidebar-text p + p {
  margin-top: 1em;
}

/* line 139, ../scss/modules/_blog.scss */
.blog-sidebar-form input {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
}
/* line 144, ../scss/modules/_blog.scss */
.blog-sidebar-form input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 0.6em;
  margin-top: 1.2em;
  margin-bottom: 0.6em;
}
/* line 4, /Users/paulo/Development/themanual-blog/bower_components/garnish/src/helpers/_hover.scss */
.blog-sidebar-form input[type='email']:hover, .blog-sidebar-form input[type='email']:focus {
  outline: none;
  border-color: black;
}
/* line 160, ../scss/modules/_blog.scss */
.blog-sidebar-form input[type='submit'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  display: inline-block;
  width: 100%;
  background: none;
  color: #0055dd;
  border: solid 1px #0055dd;
  border-radius: 0.3em;
  padding: 0.6em 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  word-spacing: 0.1em;
  font-weight: 500;
}
/* line 4, /Users/paulo/Development/themanual-blog/bower_components/garnish/src/helpers/_hover.scss */
.blog-sidebar-form input[type='submit']:hover, .blog-sidebar-form input[type='submit']:focus {
  border-color: black;
  color: black;
  outline: none;
}

/* line 1, ../scss/modules/_blog-post.scss */
.blog-post {
  padding-bottom: 15.625%;
}
/* line 4, ../scss/modules/_blog-post.scss */
.blog-post + .blog-post {
  border-top: solid 1px #e6e6e6;
  margin-top: 2em;
  padding-top: 1em;
}

/* line 11, ../scss/modules/_blog-post.scss */
.blog-post-header {
  padding-top: 1em;
  padding-bottom: 2.5em;
}

/* line 16, ../scss/modules/_blog-post.scss */
.blog-post-topic {
  font-family: "franklin-gothic-urw", sans-serif;
  font-size: 15px;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  word-spacing: 0.15em;
  margin-bottom: 0.7em;
  padding-top: 1.5em;
}
/* line 27, ../scss/modules/_blog-post.scss */
.blog-post-topic, .blog-post-topic a:link, .blog-post-topic a:visited {
  color: #a6a6a6;
}
/* line 12, ../scss/_mixins.scss */
.blog-post-topic a:hover, .blog-post-topic a:focus, .blog-post-topic a:active {
  color: black;
}
/* line 30, ../scss/modules/_blog-post.scss */
.blog-main > .blog-post .blog-post-topic {
  padding-top: 0;
}

/* line 33, ../scss/modules/_blog-post.scss */
.blog-post-title {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-size: 2rem;
  line-height: 1.25;
}
/* line 39, ../scss/modules/_blog-post.scss */
.blog-post-title a:link, .blog-post-title a:visited {
  color: black;
}
/* line 40, ../scss/modules/_blog-post.scss */
.blog-post-title a:hover, .blog-post-title a:focus {
  border-bottom: solid 1px;
}

/* line 43, ../scss/modules/_blog-post.scss */
.blog-post-byline {
  font-size: 17px;
  font-size: 0.85rem;
  font-family: "franklin-gothic-urw", sans-serif;
  line-height: 1.2;
  color: #999999;
  margin-top: 0.3rem;
}

/* line 54, ../scss/modules/_blog-post.scss */
.blog-post-author,
.blog-post-date {
  color: #4d4d4d;
}

/* line 58, ../scss/modules/_blog-post.scss */
.blog-post-picture {
  margin-bottom: 2em;
}
/* line 60, ../scss/modules/_blog-post.scss */
.blog-post-picture img {
  max-width: 100%;
}
/* line 61, ../scss/modules/_blog-post.scss */
.blog-post-picture.with-border {
  border: solid 1px #e6e6e6;
}
/* line 62, ../scss/modules/_blog-post.scss */
.blog-post-picture.with-border-bottom {
  border-bottom: solid 1px #e6e6e6;
}

/* line 65, ../scss/modules/_blog-post.scss */
.blog-post-body {
  line-height: 1.5;
  color: #333333;
}
/* line 70, ../scss/modules/_blog-post.scss */
.blog-post-body > *:not(figure) {
  max-width: 640px;
  max-width: 32rem;
}
/* line 74, ../scss/modules/_blog-post.scss */
.ie8 .blog-post-body > * {
  max-width: 640;
}
/* line 79, ../scss/modules/_blog-post.scss */
.blog-post-body > * + *,
.blog-post-body blockquote > * + * {
  margin-top: 1em;
}
/* line 83, ../scss/modules/_blog-post.scss */
.blog-post-body > h2 {
  font-size: 1.25em;
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 700;
  color: black;
  margin-top: 2.5em;
}
/* line 89, ../scss/modules/_blog-post.scss */
.blog-post-body > h2 + * {
  margin-top: 0.5em;
}
/* line 92, ../scss/modules/_blog-post.scss */
.blog-post-body img {
  display: block;
  max-width: 100%;
}
/* line 97, ../scss/modules/_blog-post.scss */
.blog-post-body blockquote {
  border-left: solid 1px #333333;
  padding-left: 1.5em;
  color: #666666;
}
/* line 103, ../scss/modules/_blog-post.scss */
.blog-post-body sup {
  font-family: "franklin-gothic-urw", sans-serif;
  font-weight: 500;
  font-size: 0.65em;
  vertical-align: super;
  padding-left: 0.1em;
}
/* line 111, ../scss/modules/_blog-post.scss */
.blog-post-body ul, .blog-post-body ol {
  padding-left: 1.5em;
}
/* line 115, ../scss/modules/_blog-post.scss */
.blog-post-body ul {
  list-style-type: disc;
}
/* line 119, ../scss/modules/_blog-post.scss */
.blog-post-body ol {
  list-style-type: decimal;
}
/* line 123, ../scss/modules/_blog-post.scss */
.blog-post-body a {
  font-weight: 600;
}
/* line 127, ../scss/modules/_blog-post.scss */
.blog-post-body .twitter-tweet-rendered {
  margin-top: 1em !important;
  margin-bottom: 1em !important;
}
/* line 132, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes {
  font-family: "franklin-gothic-urw", sans-serif;
  margin-top: 10%;
  color: #b3b3b3;
}
/* line 137, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes:before {
  content: "";
  display: block;
  width: 25%;
  height: 1px;
  background-color: #e6e6e6;
  margin-bottom: 1em;
}
/* line 146, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes > ol {
  font-size: 0.75em;
  line-height: 1.4;
}
/* line 149, ../scss/modules/_blog-post.scss */
.blog-post-body .footnotes > ol > li + li {
  margin-top: 0.5em;
}

/* line 1, ../scss/modules/_keyword-list.scss */
.keyword-list {
  font-size: 16px;
  font-size: 0.8rem;
  line-height: 1.2;
  font-family: "franklin-gothic-urw", sans-serif;
}

/* line 7, ../scss/modules/_keyword-list.scss */
.keyword-list > li {
  *zoom: 1;
}
/* line 18, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.keyword-list > li:before, .keyword-list > li:after {
  content: " ";
  display: table;
}
/* line 23, /Users/paulo/Development/themanual-blog/bower_components/bourbon/app/assets/stylesheets/addons/_clearfix.scss */
.keyword-list > li:after {
  clear: both;
}
/* line 9, ../scss/modules/_keyword-list.scss */
.keyword-list > li + li {
  margin-top: 0.7em;
}

/* line 12, ../scss/modules/_keyword-list.scss */
.keyword-item-label {
  float: left;
}
/* line 14, ../scss/modules/_keyword-list.scss */
.is-current .keyword-item-label {
  font-weight: 700;
}

/* line 17, ../scss/modules/_keyword-list.scss */
.keyword-item-value {
  float: right;
  color: #666666;
}
/* line 20, ../scss/modules/_keyword-list.scss */
.keyword-item-value > strong {
  font-weight: 500;
}

/* line 23, ../scss/modules/_keyword-list.scss */
.keyword-item-value-unit {
  font-size: 12px;
  font-size: 0.6rem;
  text-transform: uppercase;
  color: #b3b3b3;
}

@media screen and (max-width: 500px) {
  /* line 2, ../scss/_media.scss */
  .blog-post-title {
    line-height: 1.1;
  }

  /* line 6, ../scss/_media.scss */
  .blog-post-body {
    line-height: 1.45;
  }

  /* line 10, ../scss/_media.scss */
  .blog-sidebar {
    margin-top: 12.5%;
  }

  /* line 14, ../scss/_media.scss */
  .blog-sidebar-twitter {
    display: none;
  }
}
