$type-sans:               "franklin-gothic-urw", sans-serif;
$type-serif:              "freight-text-pro", serif;

$type-indent:             1.25em;
$type-breaks:             1.5em;
$type-line-height:        1.5;

$rem-base:                20;
$type-main-size:          ($rem-base * 1px);

@function weight($keyword) {
  @if      $keyword == thin                           { @return 100; }
  @else if $keyword == extralight                     { @return 200; }
  @else if $keyword == light                          { @return 300; }
  @else if $keyword == book or $keyword == regular    { @return 400; }
  @else if $keyword == medium                         { @return 500; }
  @else if $keyword == semibold                       { @return 600; }
  @else if $keyword == bold                           { @return 700; }
  @else if $keyword == extrabold                      { @return 800; }
  @else if $keyword == black                          { @return 900; }
  
  @return 400;
}

@function valueof($val) {
  @return ($val / ($val * 0 + 1));
}

@mixin rem($props, $value, $base: $rem-base) {
  @if unitless($value)    { $value: $value * 1px; }
  @if not unitless($base) { $base: valueof($base); }
  
  @each $prop in $props {
    @if unit($value) == "px" 
    {
      #{$prop}: $value;
      #{$prop}: (valueof($value) / $base) * 1rem;
    } 
    @else if unit($value) == "rem" 
    { 
      #{$prop}: (valueof($value) * $base) * 1px;
      #{$prop}: $value;
    }
  }
}