<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
  <!-- Title and Meta -->
  <title>{{ site.name }}{% if page.title %} - {{page.title}}{% endif %}</title>
  
  <!-- JS -->
  <script type="text/javascript" src="//use.typekit.net/wnf5tgz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <!-- CSS -->
  <link rel="stylesheet" media="screen" href="/assets/css/main.css" />
  
</head>
<body lang="en">

    <header class="site-header"><div>
      <h1 class="site-header-name"><a href="/">The Manual: <i>Blog</i></a></h1>
      <p class="site-header-buy"><a href="http://buy.alwaysreadthemanual.com">Visit the Shop &rarr;</a></p>
    </div></header>

    <main class="blog"><div>
      <section class="blog-main">
        {{ content }}
      </section>
      <aside class="blog-sidebar">
        <section class="box">
          <h2 class="box-title--lined">About</h2>
          <div class="blog-sidebar-text">
            <p>The Manual is a thrice-yearly publication on web design as a discipline. You can buy our issues from our <a href="http://buy.alwaysreadthemanual.com">online store</a>.</p>
            <p>We’re currently working a brand new website and digital editions, launching in early 2014.</p>
          </div>
        </section>

        <section class="box">
          <h2 class="box-title--lined">Subscribe</h2>
          <div class="blog-sidebar-subscribe">
            <ul class="keyword-list">
              <li>Grab the <a href="#">RSS Feed</a></li>
              <li>Follow us on <a href="#">Twitter</a></li>
              <li>Subscribe <a href="#">via Email</a></li>
            </ul>
          </div>
        </section>

        <div class="blog-sidebar-twitter">
          <a class="twitter-timeline" href="https://twitter.com/themanual" data-dnt="true" data-widget-id="410438518997938178" data-link-color="#0055DD" data-border-color="#E6E6E6" data-tweet-limit="3">Tweets by @themanual</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>

      </aside>
    </div></main>

  </body>
</html>