<!DOCTYPE html>
<html class="no-js">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <meta name="pocket-site-verification" content="33201868762daceeaf254fa97a459f" />

  <!-- Title and Meta -->
  <title>{% if page.title %}{{page.title}} — {% endif %}{{ site.name }}</title>
  {% if page.author.name %}<meta name="author" content="{{ page.author.name }}">{% endif %}

  <!-- OG and Twitter -->
  {% if page.picture %}
  <meta name="twitter:card" content="summary_large_image" />
  {% else %}
  <meta name="twitter:card" content="summary" />
  {% endif %}
  <meta name="twitter:site" content="@themanual" />
  <meta property="og:site_name" content="{{ site.name }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="fb:app_id" content="1442422042642768" />

  {% if page.path contains '_posts' %}
  <!-- Post Page -->
  <meta name="description" content="{{ page.synopsis }}" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.synopsis }}" />
  <meta name="twitter:creator" content="@{{ page.author.twitter }}" />
  {% if page.picture %}
  <meta name="twitter:img:src" content="{{ site.url }}{{ site.image_path }}/{{ page.picture }}" />
  <meta property="og:image" content="{{ site.url }}{{ site.image_path }}/{{ page.picture }}" />
  {% endif %}
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.synopsis }}" />
  <meta property="article:author" content="{{ page.author.name }}" />
  <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}" />
  {% else %}
  <!-- Non-Post Page -->
  <meta name="description" content="{{ site.description }}" />
  <meta name="twitter:title" content="{{ site.name }}{% if page.title %} — {{page.title}}{% endif %}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta property="og:type" content="blog" />
  <meta property="og:title" content="{{ site.name }}{% if page.title %} — {{page.title}}{% endif %}" />
  <meta property="og:description" content="{{ site.synopsis }}" />
  {% endif %}

  <!-- JS -->
  <script type="text/javascript">
    (function(d) {
      var config = {
        kitId: 'wnf5tgz',
        scriptTimeout: 5000
      },
      h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
  </script>

  <!-- CSS -->
  <link rel="stylesheet" media="screen" href="/assets/css/build/main.min.css?v1.0" />

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="The Manual: Blog" href="{{ site.rss_root }}{{ site.rss_file }}" />

  <script>!function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.insertBefore(d,q)}(window,document,'script','_gs');_gs('GSN-949058-C');</script>

</head>
<body lang="en">

    <header class="site-header"><div>
      <h1 class="site-header-name"><a href="/">The Manual: <i>Blog</i></a></h1>
      <p class="site-header-buy">
        <a href="https://themanual.org">themanual.org &rarr;</a>
      </p>
    </div></header>

    <main class="blog"><div>
      <section class="blog-main">
        {{ content }}
      </section>
      <aside class="blog-sidebar">
        <section class="box">
          <h2 class="box-title--lined">About</h2>
          <div class="blog-sidebar-text">
            <p><a href="https://themanual.org">The Manual</a> is a design journal for the web. So far, we’ve published <a href="http://shop.themanual.org">three issues</a> exclusively in print.</p>

            <p>We recently funded our <a href="https://www.kickstarter.com/projects/goodonpaper/the-manual-everywhere">Kickstarter</a> to extend The Manual to ebooks and audiobooks, as well as a free and open web edition.

            <p>You can also <a href="http://shop.themanual.org/">buy issues at our online store</a>, or <a href="https://themanual.org/about">read on our website</a>.</p>
          </div>
        </section>

        <div class="box">
          <h2 class="box-title--lined">Twitter</h2>
          <div class="blog-sidebar-text">
            <p>Follow <a class="link-twitter" href="https://twitter.com/themanual">@themanual</a> for news, announcements and support.</p>
            <a href="https://twitter.com/themanual" class="twitter-follow-button" data-show-count="true" data-lang="en" data-show-screen-name="false" data-dnt="true" data-size="large">Follow @themanual</a>
          </div>
        </div>

        <section class="box">
          <h2 class="box-title--lined">Subscribe via Email</h2>
          <div class="blog-sidebar-text">
            <p>Receive a monthly digest of blog posts in your inbox. No spam.</p>
          </div>

          <form id="sidebar-subscribe-form" action="http://campaigns.fiction.co/t/y/s/qtyjkh/" method="post" class="blog-sidebar-form" novalidate>
            <input type="email" value="" name="cm-qtyjkh-qtyjkh" class="email" placeholder="yourname@domain.com" />
            <input type="submit" value="Subscribe" class="button">
          </form>
        </section>

        <section class="box">
          <h2 class="box-title--lined">More</h2>
          <ul class="keyword-list">
            <li><a href="mailto:hi@themanual.org">Email Us</a></li>
            <li><a href="https://shop.themanual.org/">Visit the Store</a></li>
            <li><a class="link-rss" href="{{ site.rss_root }}{{ site.rss_file }}">Subscribe via RSS</a></li>
            <li><a href="http://www.flickr.com/groups/themanual/">Browse the Flickr Pool</a></li>
          </ul>
        </section>

      </aside>
    </div></main>
    <script src="/assets/js/build/scripts.min.js?v1.0"></script>
  </body>
</html>