---
layout: default
---
<article class="blog-post hentry">
  <header class="blog-post-header">
    {% if page.category %}<p class="blog-post-topic">{{ page.category }}</p>{% endif %}
    <h1 class="blog-post-title entry-title"><a href="{{ page.url }}">{{ page.title }}</a></h1>
    <p class="blog-post-byline byline vcard">By <a href="https://twitter.com/{{ page.author.twitter }}" class="blog-post-author fn url author" rel="author">{{ page.author.name }}</a> on <time datetime="{{ page.date | date: "%Y-%m-%d"}}" class="blog-post-date">{{ page.date | date: "%B %d, %Y" }}</time></p>
  </header>
  {% if page.picture %}
  <figure class="blog-post-picture">
    <img src="{{ site.image_path }}/{{ page.picture }}" alt="" />
  </figure>
  {% endif %}

  <div class="blog-post-body entry-content">
    {{ content }}
  </div>
</article>


{% assign post_count = site.posts | size %}
{% if post_count > 1 %}
<a href="/" class="blog-main-cta">Read more posts</a>
{% endif %}